# PAIR PROGRAMMING AGRUPACIÓN DE DATOS
__________

In [35]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
df = pd.read_csv('world_data_nuevo.csv', index_col=0)

### EJERCICIOS APPLY

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [36]:
df.dtypes

country                                   object
density                                   object
abbreviation                              object
agricultural_land(_%)                    float64
land_area                                 object
armed_forces_size                         object
birth_rate                               float64
calling_code                             float64
capital/major_city                        object
co2-emissions                             object
cpi                                       object
cpi_change_                              float64
currency-code                             object
fertility_rate                           float64
forested_area_                           float64
gasoline_price                           float64
gdp                                       object
gross_primary_education_enrollment_      float64
gross_tertiary_education_enrollment_     float64
infant_mortality                         float64
largest_city                              object
life_expectancy                          float64
maternal_mortality_ratio                 float64
minimum_wage                             float64
official_language                         object
out_of_pocket_health_expenditure         float64
physicians_per_thousand                  float64
population                                object
population_labor_force_participation_    float64
tax_revenue_                             float64
total_tax_rate                           float64
unemployment_rate                        float64
urban_population                          object
latitud                                   object
longitud                                  object
dtype: object

In [37]:
df.head(4)

,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",'33.93911 ','67.709953'
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",'41.153332 ','20.168331'
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",'28.033886 ','1.659626'
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",'42.506285 ','1.521801'

In [38]:
def funcion(elemento):
    try:
        return float(elemento.replace("'", ""))
    except:
        return np.nan

# Lista de columnas que deben ser convertidas
cols = ['latitud','longitud']

# Aplicar la función a las columnas del DataFrame
for columna in cols:
    df[columna] = df[columna].apply(funcion)

In [39]:
def funcion(elemento):
    try:
        return float(elemento.replace(",", ""))
    except:
        return np.nan

# Lista de columnas que deben ser convertidas
cols = ['gdp', 'population','urban_population']

# Aplicar la función a las columnas del DataFrame
for columna in cols:
    df[columna] = df[columna].apply(funcion)

In [40]:
def funcion(elemento):
    try:
        return float(elemento.replace(",", "."))
    except:
        return np.nan

# Lista de columnas que deben ser convertidas
cols = ['density', 'land_area','armed_forces_size', 'co2-emissions','cpi' ]

# Aplicar la función a las columnas del DataFrame
for columna in cols:
    df[columna] = df[columna].apply(funcion)

In [41]:
df.head(5)

,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801
4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887

In [42]:
df.dtypes

country                                   object
density                                  float64
abbreviation                              object
agricultural_land(_%)                    float64
land_area                                float64
armed_forces_size                        float64
birth_rate                               float64
calling_code                             float64
capital/major_city                        object
co2-emissions                            float64
cpi                                      float64
cpi_change_                              float64
currency-code                             object
fertility_rate                           float64
forested_area_                           float64
gasoline_price                           float64
gdp                                      float64
gross_primary_education_enrollment_      float64
gross_tertiary_education_enrollment_     float64
infant_mortality                         float64
largest_city                              object
life_expectancy                          float64
maternal_mortality_ratio                 float64
minimum_wage                             float64
official_language                         object
out_of_pocket_health_expenditure         float64
physicians_per_thousand                  float64
population                               float64
population_labor_force_participation_    float64
tax_revenue_                             float64
total_tax_rate                           float64
unemployment_rate                        float64
urban_population                         float64
latitud                                  float64
longitud                                 float64
dtype: object

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [43]:
def columna_continentes (nombre):
    continentes = {
    'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palau', 'Palestinian National Authority', 'Philippines', 'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'East Timor', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'],
    'Europe': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Republic of Ireland', 'Italy', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom'],
    'Africa': ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Ivory Coast', 'Cape Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Costa Rica', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'],
    'North America': ['Antigua and Barbuda', 'The Bahamas', 'Barbados', 'Belize', 'Canada', 'Dominica', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'United States'],
    'South America': ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela'],
    'Oceania': ['Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Nauru', 'New Zealand', 'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']
}

    for continente,pais in continentes.items():
        if nombre in pais:
            return continente

df['continent'] = df['country'].apply(columna_continentes)
df

,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32.0,VE,24.5,912.050,343.0,17.88,58.0,Caracas,164.175,NaN,254.9,VED,2.27,52.7,0.00,4.823593e+11,97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.8,1.92,28515829.0,59.7,NaN,73.3,8.80,25162368.0,6.423750,-66.589730,South America
191,Vietnam,314.0,VN,39.3,331.210,522.0,16.75,84.0,Hanoi,192.668,163.52,2.8,VND,2.05,48.1,0.80,2.619212e+11,110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.5,0.82,96462106.0,77.4,19.1,37.6,2.01,35332140.0,14.058324,108.277199,Asia
192,Yemen,56.0,YE,44.6,527.968,40.0,30.45,967.0,Sanaa,10.609,157.58,8.1,YER,3.79,1.0,0.92,2.691440e+10,93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,29161922.0,38.0,NaN,26.6,12.91,10869523.0,15.552727,48.516388,Asia
193,Zambia,25.0,ZM,32.1,752.618,16.0,36.19,260.0,Lusaka,5.141,212.31,9.2,ZMW,4.63,65.2,1.40,2.306472e+10,98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,17861030.0,74.6,16.2,15.6,11.43,7871713.0,-13.133897,27.849332,Africa
194,Zimbabwe,38.0,ZW,41.9,390.757,51.0,30.68,263.0,Harare,10.983,105.51,0.9,NaN,3.62,35.5,1.34,2.144076e+10,109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.8,0.21,14645468.0,83.1,20.7,31.6,4.95,4717305.0,-19.015438,29.154857,Africa

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [44]:
df.to_csv("worl_data_continentes2.csv")

_________
### EJERCICIOS GROUP BY 
_________

1. ¿Cuál es la densidad de población promedio por continente?

In [7]:
df.groupby('continent').mean()

,Unnamed: 0,density,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,co2-emissions,cpi,cpi_change_,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,life_expectancy,maternal_mortality_ratio,minimum_wage,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
continent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Africa,92.636364,115.563636,45.371698,315.435273,64.460000,30.293889,226.272727,132.964833,160.815600,9.136538,3.981852,28.869811,0.953750,NaN,102.948148,15.633962,41.203704,64.574074,397.566038,0.658293,36.327778,0.480566,391.681000,65.348077,15.022917,47.484906,8.456731,407.677091,NaN,NaN
Asia,107.562500,159.993000,36.248936,280.425950,196.279070,18.535957,608.702128,139.869523,150.331364,4.620455,2.374043,24.565957,0.785000,NaN,102.929787,36.693617,17.542553,73.755319,77.717391,1.514474,41.332609,1.875319,427.404000,62.728261,13.069767,33.240000,5.623696,256.713400,NaN,NaN
Europe,94.272727,126.243568,39.847619,162.716070,69.315789,9.732093,245.136364,104.606225,121.918974,2.077500,1.511905,32.723810,1.305714,NaN,101.514634,67.531707,3.721429,79.382927,7.692308,4.784688,25.700000,3.712857,289.935625,58.525641,20.633333,38.251220,6.656923,366.026700,NaN,NaN
North America,73.555556,185.944444,33.094444,170.013000,42.466667,16.968889,303.777778,161.044529,131.386111,3.005556,2.123333,36.483333,0.941176,NaN,102.627778,37.877778,15.750000,74.944444,78.823529,2.424118,34.044444,1.691111,224.631500,64.893333,17.687500,39.761111,6.919333,207.084714,NaN,NaN
Oceania,124.416667,147.250000,32.536364,234.533455,18.750000,24.057000,577.916667,120.897455,123.413333,2.444444,3.302000,44.572727,1.167143,NaN,102.681818,31.925000,20.272727,71.660000,61.888889,4.032500,9.472727,0.994545,262.277778,62.175000,22.470000,33.710000,3.793750,115.057750,NaN,NaN
South America,88.250000,25.000000,33.050000,416.209000,175.416667,17.374167,324.750000,95.827333,166.621818,29.766667,2.200833,48.933333,0.905833,NaN,105.508333,54.718182,14.341667,74.933333,88.083333,1.582727,28.833333,2.175833,682.069000,64.758333,15.311111,53.341667,7.580833,296.585000,NaN,NaN

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [20]:
df.groupby('official_language') ['life_expectancy'].mean().round(2)

official_language
Afrikaans            63.90
Albanian             78.50
Amharic              66.20
Arabic               72.86
Armenian             74.90
                     ...
Tuvaluan Language      NaN
Ukrainian            71.60
Urdu                 67.10
Uzbek                71.60
Vietnamese           75.30
Name: life_expectancy, Length: 76, dtype: float64

3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [8]:
df.groupby('currency-code').mean('infant_mortality')

,Unnamed: 0,density,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,co2-emissions,cpi,cpi_change_,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,life_expectancy,maternal_mortality_ratio,minimum_wage,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
currency-code,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
AED,184.000,118.0,5.5000,83.600000,63.000,10.330000,971.0,206.324000,114.520000,-1.900000,1.410000,4.600000,0.490000,NaN,108.4000,36.800000,6.500000,77.800000,3.000,NaN,17.80,2.530000,NaN,82.10,0.100000,15.9000,2.35000,NaN,NaN,NaN
AFN,0.000,60.0,58.1000,652.230000,323.000,32.490000,93.0,8.672000,149.900000,2.300000,4.470000,2.100000,0.700000,NaN,104.0000,9.700000,47.900000,64.500000,638.000,0.4300,78.40,0.280000,NaN,48.90,9.300000,71.4000,11.12000,NaN,NaN,NaN
ALL,1.000,105.0,43.1000,28.748000,9.000,11.780000,355.0,4.536000,119.050000,1.400000,1.620000,28.100000,1.360000,NaN,107.0000,55.000000,7.800000,78.500000,15.000,1.1200,56.90,1.200000,NaN,55.70,18.600000,36.6000,12.33000,NaN,NaN,NaN
AMD,7.000,104.0,58.9000,29.743000,49.000,13.990000,374.0,5.156000,129.180000,1.400000,1.760000,11.700000,0.770000,NaN,92.7000,54.600000,11.000000,74.900000,26.000,0.6600,81.60,4.400000,NaN,55.60,20.900000,22.6000,16.99000,NaN,NaN,NaN
AOA,4.000,26.0,47.5000,NaN,117.000,40.730000,244.0,34.693000,261.730000,17.100000,5.520000,46.300000,0.970000,NaN,113.5000,9.300000,51.600000,60.800000,241.000,0.7100,33.40,0.210000,NaN,77.50,9.200000,49.1000,6.89000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XCD,93.000,240.0,23.9000,468.166667,0.000,13.773333,1.0,312.833333,108.246667,1.033333,1.898333,45.733333,1.136667,NaN,108.5500,43.516667,15.183333,74.283333,63.000,2.2525,39.35,1.511667,102.832833,66.50,20.016667,40.8000,19.79500,37.354833,NaN,NaN
XOF,87.375,76.5,48.3125,166.486167,13.875,37.533750,228.0,41.458250,110.143750,-0.662500,5.112500,26.275000,0.925714,NaN,98.9625,8.362500,51.512500,60.937500,472.875,0.3025,42.95,0.105000,NaN,66.55,13.062500,47.5625,3.82625,840.922000,NaN,NaN
YER,192.000,56.0,44.6000,527.968000,40.000,30.450000,967.0,10.609000,157.580000,8.100000,3.790000,1.000000,0.920000,NaN,93.6000,10.200000,42.900000,66.100000,164.000,NaN,81.00,0.310000,NaN,38.00,NaN,26.6000,12.91000,NaN,NaN,NaN
ZAR,161.000,49.0,79.8000,NaN,80.000,20.510000,27.0,476.644000,158.930000,4.100000,2.410000,7.600000,0.920000,NaN,100.9000,22.400000,28.500000,63.900000,119.000,NaN,7.70,0.910000,NaN,56.00,27.500000,29.2000,28.18000,NaN,NaN,NaN
ZMW,193.000,25.0,32.1000,752.618000,16.000,36.190000,260.0,5.141000,212.310000,9.200000,4.630000,65.200000,1.400000,NaN,98.7000,4.100000,40.400000,63.500000,213.000,0.2400,27.50,1.190000,NaN,74.60,16.200000,15.6000,11.43000,NaN,NaN,NaN

4. ¿Cuál es el salario mínimo por continente?

In [25]:
salario_min = df.groupby ('continent')['minimum_wage'].mean()
print(salario_min)

continent
Africa           0.658293
Asia             1.514474
Europe           4.784688
North America    2.424118
Oceania          4.032500
South America    1.582727
Name: minimum_wage, dtype: float64

5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:

- Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

In [9]:
tasa_impuestos = df.groupby('continent')['total_tax_rate'].max()
tasa_impuestos

continent
Africa           219.6
Asia              76.6
Europe            60.7
North America     60.6
Oceania           65.9
South America    106.3
Name: total_tax_rate, dtype: float64

- Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

In [10]:
densidad = df.groupby('continent')['density'].max()
densidad

continent
Africa           626.0
Asia             847.0
Europe           566.0
North America    668.0
Oceania          541.0
South America     71.0
Name: density, dtype: float64

- Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

In [11]:
por_persona = tasa_impuestos / densidad
por_persona

continent
Africa           0.350799
Asia             0.090437
Europe           0.107244
North America    0.090719
Oceania          0.121811
South America    1.497183
dtype: float64

- Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

In [12]:
df.loc[df.index == (df['total_tax_rate'] / df['density']).idxmax()]

,Unnamed: 0,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent
106,106,Malta,1.38,MT,32.4,316.0,2.0,9.2,356.0,Valletta,1.342,113.45,1.6,EUR,1.23,1.1,1.36,NaN,105.0,54.3,6.1,Birkirkara,82.3,6.0,5.07,Maltese,37.1,2.86,502.653,56.5,26.2,44.0,3.47,475.902,NaN,NaN,Europe

6. ¿Cuál es el porcentaje de población urbana promedio por continente?

In [30]:
porcentaje_poblacion_urbana = df.groupby('continent')['urban_population'].mean()
porcentaje_poblacion_urbana

continent
Africa           407.677091
Asia             256.713400
Europe           366.026700
North America    207.084714
Oceania          115.057750
South America    296.585000
Name: urban_population, dtype: float64

7. ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

- Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

In [13]:
df.groupby('official_language').agg({'out_of_pocket_health_expenditure':'mean', 'gdp': 'mean'})

                   out_of_pocket_health_expenditure  gdp
official_language
Afrikaans                                       7.7  NaN
Albanian                                       56.9  NaN
Amharic                                        37.8  NaN
Arabic                                         38.0  NaN
Armenian                                       81.6  NaN
...                                             ...  ...
Tuvaluan Language                               0.7  NaN
Ukrainian                                      47.8  NaN
Urdu                                           66.5  NaN
Uzbek                                          42.7  NaN
Vietnamese                                     43.5  NaN

[76 rows x 2 columns]

- Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

In [14]:
df['gdp'] - df['out_of_pocket_health_expenditure']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
190   NaN
191   NaN
192   NaN
193   NaN
194   NaN
Length: 195, dtype: float64

8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:
- Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

In [15]:
df.groupby('continent')['maternal_mortality_ratio'].mean()

continent
Africa           397.566038
Asia              77.717391
Europe             7.692308
North America     78.823529
Oceania           61.888889
South America     88.083333
Name: maternal_mortality_ratio, dtype: float64

- Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

In [16]:
df.groupby('continent')['total_tax_rate'].mean()

continent
Africa           47.484906
Asia             33.240000
Europe           38.251220
North America    39.761111
Oceania          33.710000
South America    53.341667
Name: total_tax_rate, dtype: float64

- Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

In [17]:
df.groupby('continent')[['maternal_mortality_ratio', 'total_tax_rate']].mean()

               maternal_mortality_ratio  total_tax_rate
continent
Africa                       397.566038       47.484906
Asia                          77.717391       33.240000
Europe                         7.692308       38.251220
North America                 78.823529       39.761111
Oceania                       61.888889       33.710000
South America                 88.083333       53.341667

- Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

BONUS:
- ¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.
- ¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?