1. Identificaci√≥n de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

In [88]:
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

In [89]:
df = pd.read_csv('worl_data_continentes2.csv', index_col=0)

In [90]:
df.columns[df.isnull().any()]

Index(['abbreviation', 'agricultural_land(_%)', 'land_area',
       'armed_forces_size', 'birth_rate', 'calling_code', 'capital/major_city',
       'co2-emissions', 'cpi', 'cpi_change_', 'currency-code',
       'fertility_rate', 'forested_area_', 'gasoline_price', 'gdp',
       'gross_primary_education_enrollment_',
       'gross_tertiary_education_enrollment_', 'infant_mortality',
       'largest_city', 'life_expectancy', 'maternal_mortality_ratio',
       'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure',
       'physicians_per_thousand', 'population',
       'population_labor_force_participation_', 'tax_revenue_',
       'total_tax_rate', 'unemployment_rate', 'urban_population', 'latitud',
       'longitud', 'continent'],
      dtype='object')

In [91]:
info_columnas = pd.concat([(df.isnull().sum() / df.shape[0]) * 100, df.dtypes], axis=1)
info_columnas.columns = ['Porcentaje de Nulos','Tipos de Columnas']
info_columnas

                                       Porcentaje de Nulos Tipos de Columnas
country                                           0.000000            object
density                                           0.000000           float64
abbreviation                                      3.589744            object
agricultural_land(_%)                             3.589744           float64
land_area                                        15.384615           float64
armed_forces_size                                14.871795           float64
birth_rate                                        3.076923           float64
calling_code                                      0.512821           float64
capital/major_city                                1.538462            object
co2-emissions                                     6.153846           float64
cpi                                              10.256410           float64
cpi_change_                                       8.205128           float64
currency-code                                     7.692308            object
fertility_rate                                    3.589744           float64
forested_area_                                    3.589744           float64
gasoline_price                                   10.256410           float64
gdp                                               1.025641           float64
gross_primary_education_enrollment_               3.589744           float64
gross_tertiary_education_enrollment_              6.153846           float64
infant_mortality                                  3.076923           float64
largest_city                                      3.076923            object
life_expectancy                                   4.102564           float64
maternal_mortality_ratio                          7.179487           float64
minimum_wage                                     23.076923           float64
official_language                                 2.564103            object
out_of_pocket_health_expenditure                  3.589744           float64
physicians_per_thousand                           3.589744           float64
population                                        0.512821           float64
population_labor_force_participation_             9.743590           float64
tax_revenue_                                     13.333333           float64
total_tax_rate                                    6.153846           float64
unemployment_rate                                 9.743590           float64
urban_population                                  2.564103           float64
latitud                                           0.512821           float64
longitud                                          0.512821           float64
continent                                         3.076923            object

In [92]:
pd.set_option('display.max_columns', None)

In [93]:
df

,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32.0,VE,24.5,912.050,343.0,17.88,58.0,Caracas,164.175,NaN,254.9,VED,2.27,52.7,0.00,4.823593e+11,97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.8,1.92,28515829.0,59.7,NaN,73.3,8.80,25162368.0,6.423750,-66.589730,South America
191,Vietnam,314.0,VN,39.3,331.210,522.0,16.75,84.0,Hanoi,192.668,163.52,2.8,VND,2.05,48.1,0.80,2.619212e+11,110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.5,0.82,96462106.0,77.4,19.1,37.6,2.01,35332140.0,14.058324,108.277199,Asia
192,Yemen,56.0,YE,44.6,527.968,40.0,30.45,967.0,Sanaa,10.609,157.58,8.1,YER,3.79,1.0,0.92,2.691440e+10,93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,29161922.0,38.0,NaN,26.6,12.91,10869523.0,15.552727,48.516388,Asia
193,Zambia,25.0,ZM,32.1,752.618,16.0,36.19,260.0,Lusaka,5.141,212.31,9.2,ZMW,4.63,65.2,1.40,2.306472e+10,98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,17861030.0,74.6,16.2,15.6,11.43,7871713.0,-13.133897,27.849332,Africa
194,Zimbabwe,38.0,ZW,41.9,390.757,51.0,30.68,263.0,Harare,10.983,105.51,0.9,NaN,3.62,35.5,1.34,2.144076e+10,109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.8,0.21,14645468.0,83.1,20.7,31.6,4.95,4717305.0,-19.015438,29.154857,Africa

In [94]:
df['largest_city'].unique()

array(['Kabul', 'Tirana', 'Algiers', 'Andorra la Vella', 'Luanda',
       "St. John's, Saint John", 'Buenos Aires', 'Yerevan', 'Sydney',
       'Vienna', 'Baku', 'Nassau, Bahamas', 'Riffa', 'Dhaka',
       'Bridgetown', 'Minsk', 'Brussels', 'Belize City', 'Cotonou',
       'Thimphu', 'Santa Cruz de la Sierra', 'Tuzla Canton', 'Gaborone',
       'SÔøΩÔøΩÔøΩÔøΩ', nan, 'Sofia', 'Ouagadougou', 'Bujumbura', 'Abidjan',
       'Praia', 'Phnom Penh', 'Douala', 'Toronto', 'Bangui', "N'Djamena",
       'Santiago', 'Shanghai', 'BogotÔøΩ', 'Moroni, Comoros', 'Brazzaville',
       'San JosÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩ', 'Zagreb', 'Havana', 'StatosÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩ', 'Prague',
       'Kinshasa', 'Copenhagen', 'Djibouti City', 'Roseau',
       'Santo Domingo', 'Quito', 'Cairo', 'San Salvador', 'Malabo',
       'Asmara', 'Tallinn', 'Mbabane', 'Addis Ababa', 'Suva', 'Helsinki',
       'Paris', 'Libreville', 'Serekunda', 'Tbilisi', 'Berlin', 'Accra',
       'Macedonia', "St. George's, Grenada", 'Guatemala City', 'Kankan',
       'Bissau', 'Georgetown, Guyana', 'Port-au-Prince', 'Tegucigalpa',
       'Budapest', 'ReykjavÔøΩÔøΩ', 'Kurebhar', 'Kalimantan', 'Tehran',
       'Baghdad', 'Connacht', 'Jerusalem', 'Rome', 'Kingston, Jamaica',
       'Tokyo', 'Amman', 'Almaty', 'Nairobi', 'South Tarawa',
       'Kuwait City', 'Bishkek', 'Vientiane', 'Riga', 'Tripoli, Lebanon',
       'Maseru', 'Monrovia', 'Schaan', 'Vilnius', 'Luxembourg City',
       'Antananarivo', 'Lilongwe', 'Johor Bahru', 'MalÔøΩ', 'Bamako',
       'Birkirkara', 'Majuro', 'Nouakchott', 'Port Louis', 'Mexico City',
       'Palikir', 'ChiÔøΩÔøΩÔøΩÔøΩ', 'Monaco City', 'Ulaanbaatar', 'Podgorica',
       'Casablanca', 'Maputo', 'Yangon', 'Windhoek', 'Kathmandu',
       'Amsterdam', 'Auckland', 'Managua', 'Niamey', 'Lagos', 'Pyongyang',
       'Skopje', 'Oslo', 'Seeb', 'Karachi', 'Koror', 'Panama City',
       'Port Moresby', 'Ciudad del Este', 'Lima', 'Manila', 'Warsaw',
       'Lisbon', 'Doha', 'Bucharest', 'Moscow', 'Kigali', 'Basseterre',
       'Castries', 'Calliaqua', 'Apia', 'City of San Marino', 'Riyadh',
       'Pikine', 'Belgrade', 'Victoria, Seychelles', 'Freetown',
       'Bratislava', 'Ljubljana', 'Honiara', 'Bosaso', 'Johannesburg',
       'Seoul', 'Juba', 'Madrid', 'Colombo', 'Omdurman', 'Paramaribo',
       'SÔøΩÔøΩÔøΩÔøΩÔøΩ', 'ZÔøΩÔøΩÔøΩ', 'Damascus', 'Dushanbe', 'Dar es Salaam',
       'Bangkok', 'Dili', 'LomÔøΩ', 'NukuÔøΩÔøΩÔøΩÔøΩ', 'Chaguanas', 'Tunis',
       'Istanbul', 'Ashgabat', 'Singapore', 'Buganda', 'Kyiv', 'Dubai',
       'London', 'New York City', 'Montevideo', 'Tashkent', 'Port Vila',
       'Caracas', 'Ho Chi Minh City', 'Sanaa', 'Lusaka', 'Harare'],
      dtype=object)

3. Imputaci√≥n de Valores Nulos: Implementa el m√©todo de imputaci√≥n seleccionado en el paso 2 para llenar los valores nulos en las columnas.

In [95]:
# COLUMNAS CATEG√ìRICAS
lista_columnas =["abbreviation", "capital/major_city",'currency-code','largest_city','official_language','continent']

for col in lista_columnas:
    df[col] = df[col].fillna("Unknown")

df[lista_columnas].isnull().sum()

abbreviation          0
capital/major_city    0
currency-code         0
largest_city          0
official_language     0
continent             0
dtype: int64

In [96]:
# COLUMNAS NUM√âRICAS - DATOS NO SUSTITUIBLES
lista_columnas =["land_area", "armed_forces_size",'minimum_wage','calling_code','forested_area_','gdp','population','population_labor_force_participation_','urban_population','latitud','longitud','agricultural_land(_%)','cpi','gasoline_price','tax_revenue_','cpi_change_','gross_primary_education_enrollment_','gross_tertiary_education_enrollment_','out_of_pocket_health_expenditure','physicians_per_thousand','total_tax_rate','unemployment_rate']

for col in lista_columnas:
    df[col] = df[col].fillna("Unknown")

df[lista_columnas].isnull().sum()

land_area                                0
armed_forces_size                        0
minimum_wage                             0
calling_code                             0
forested_area_                           0
gdp                                      0
population                               0
population_labor_force_participation_    0
urban_population                         0
latitud                                  0
longitud                                 0
agricultural_land(_%)                    0
cpi                                      0
gasoline_price                           0
tax_revenue_                             0
cpi_change_                              0
gross_primary_education_enrollment_      0
gross_tertiary_education_enrollment_     0
out_of_pocket_health_expenditure         0
physicians_per_thousand                  0
total_tax_rate                           0
unemployment_rate                        0
dtype: int64

In [97]:
# COLUMNAS NUM√âRICAS - DATOS SUSTITUIBLES
imputer_iterative = IterativeImputer(max_iter = 20, random_state = 42)
# ajustamos y tranformamos los datos
imputer_iterative_imputado = imputer_iterative.fit_transform(df[['birth_rate','co2-emissions','fertility_rate','infant_mortality','life_expectancy','maternal_mortality_ratio']])
# comprobamos que nos devuelve un array
imputer_iterative_imputado
# a√±adimos la columna con los datos al df
df[[ "birth_rate_iterative", "co2-emissions_iterative","fertility_rate_iterative", "infant_mortality_iterative","life_expectancy_iterative", "maternal_mortality_ratio_iterative"]] = imputer_iterative_imputado
# comprobamos los nulos
df[["birth_rate_iterative", "co2-emissions_iterative","fertility_rate_iterative", "infant_mortality_iterative","life_expectancy_iterative", "maternal_mortality_ratio_iterative"]].isnull().sum()

birth_rate_iterative                  0
co2-emissions_iterative               0
fertility_rate_iterative              0
infant_mortality_iterative            0
life_expectancy_iterative             0
maternal_mortality_ratio_iterative    0
dtype: int64

In [98]:
#instanciamos la clase del KNNImputer utilizando los 5 vecinos m√°s cercanos
imputer_knn = KNNImputer(n_neighbors = 5)
# ajustamos y transformamos los datos
imputer_knn_imputado = imputer_knn.fit_transform(df[['birth_rate','co2-emissions','fertility_rate','infant_mortality','life_expectancy','maternal_mortality_ratio']])
# comprobamos que nos devuelve un array
imputer_knn_imputado
# a√±adimos la columna con los datos  al df
df[["birth_rate_knn", "co2-emissions_knn","fertility_rate_knn", "infant_mortality_knn","life_expectancy_knn", "maternal_mortality_ratio_knn"]] = imputer_knn_imputado
# comprobamos los nulos
df[["birth_rate_knn", "co2-emissions_knn","fertility_rate_knn", "infant_mortality_knn","life_expectancy_knn", "maternal_mortality_ratio_knn"]].isnull().sum()

birth_rate_knn                  0
co2-emissions_knn               0
fertility_rate_knn              0
infant_mortality_knn            0
life_expectancy_knn             0
maternal_mortality_ratio_knn    0
dtype: int64

In [99]:
df.describe()[['birth_rate',"birth_rate_iterative","birth_rate_knn",'co2-emissions',"co2-emissions_iterative", "co2-emissions_knn",'fertility_rate',"fertility_rate_iterative","fertility_rate_knn"]]

,birth_rate,birth_rate_iterative,birth_rate_knn,co2-emissions,co2-emissions_iterative,co2-emissions_knn,fertility_rate,fertility_rate_iterative,fertility_rate_knn
count,189.000000,195.000000,195.000000,183.000000,195.000000,195.000000,188.000000,195.000000,195.000000
mean,20.214974,20.214834,20.230579,125.915470,125.926602,127.336543,2.698138,2.688404,2.690752
std,9.945774,9.790765,9.793190,181.794917,176.082661,177.834238,1.282267,1.265676,1.263221
min,5.900000,5.900000,5.900000,1.016000,1.016000,1.016000,0.980000,0.874491,0.980000
25%,11.300000,11.450000,11.450000,7.600000,8.124000,8.124000,1.705000,1.710000,1.710000
50%,17.950000,18.250000,18.250000,34.477000,41.155000,41.023000,2.245000,2.270000,2.270000
75%,28.750000,28.445000,28.445000,185.030500,166.587500,185.030500,3.597500,3.565000,3.565000
max,46.080000,46.080000,46.080000,727.973000,727.973000,727.973000,6.910000,6.910000,6.910000

In [100]:
df.describe()[['infant_mortality',"infant_mortality_iterative", "infant_mortality_knn",'life_expectancy',"life_expectancy_iterative","life_expectancy_knn",'maternal_mortality_ratio', "maternal_mortality_ratio_iterative", "maternal_mortality_ratio_knn"]]

,infant_mortality,infant_mortality_iterative,infant_mortality_knn,life_expectancy,life_expectancy_iterative,life_expectancy_knn,maternal_mortality_ratio,maternal_mortality_ratio_iterative,maternal_mortality_ratio_knn
count,189.000000,195.000000,195.000000,187.000000,195.000000,195.000000,181.000000,195.000000,195.000000
mean,21.332804,21.202975,21.237354,72.279679,72.363485,72.378453,160.392265,155.801996,155.148520
std,19.548058,19.324292,19.289500,7.483661,7.370625,7.391262,233.502024,227.442785,226.341604
min,1.400000,-3.334822,1.400000,52.800000,52.800000,52.800000,2.000000,-104.690025,2.000000
25%,6.000000,6.050000,6.050000,67.000000,67.450000,67.450000,13.000000,12.500000,13.500000
50%,14.000000,14.600000,14.600000,73.200000,73.100000,73.100000,53.000000,59.830708,58.000000
75%,32.700000,31.550000,31.550000,77.500000,77.500000,77.500000,186.000000,184.000000,175.000000
max,84.500000,84.500000,84.500000,85.400000,85.400000,85.400000,1150.000000,1150.000000,1150.000000

Columnas elegidas: birth_rate_iterative  , co2-emissions_iterative  , fertility_rate_knn  ,  infant_mortality_knn  , life_expectancy_knn  ,  maternal_mortality_ratio_knn

In [101]:
df.drop(['birth_rate',"birth_rate_knn",'co2-emissions', "co2-emissions_knn",'fertility_rate',"fertility_rate_iterative",'infant_mortality',"infant_mortality_iterative",'life_expectancy',"life_expectancy_iterative",'maternal_mortality_ratio', "maternal_mortality_ratio_iterative"], axis=1, inplace=True)

In [102]:
df.head(5)

,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,calling_code,capital/major_city,cpi,cpi_change_,currency-code,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,largest_city,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent,birth_rate_iterative,co2-emissions_iterative,fertility_rate_knn,infant_mortality_knn,life_expectancy_knn,maternal_mortality_ratio_knn
0,Afghanistan,60.0,AF,58.1,652.23,323.0,93.0,Kabul,149.9,2.3,AFN,2.1,0.7,19101353833.0,104.0,9.7,Kabul,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.93911,67.709953,Asia,32.49,8.672,4.47,47.9,64.50,638.0
1,Albania,105.0,AL,43.1,28.748,9.0,355.0,Tirana,119.05,1.4,ALL,28.1,1.36,15278077447.0,107.0,55.0,Tirana,1.12,Albanian,56.9,1.2,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe,11.78,4.536,1.62,7.8,78.50,15.0
2,Algeria,18.0,DZ,17.4,Unknown,317.0,213.0,Algiers,151.36,2.0,DZD,0.8,0.28,169988236398.0,109.9,51.4,Algiers,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.7,31510100.0,28.033886,1.659626,Africa,24.28,150.006,3.02,20.1,76.70,112.0
3,Andorra,164.0,AD,40.0,468.0,Unknown,376.0,Andorra la Vella,Unknown,Unknown,EUR,34.0,1.51,3154057987.0,106.4,Unknown,Andorra la Vella,6.63,Catalan,36.4,3.33,77142.0,Unknown,Unknown,Unknown,Unknown,67873.0,42.506285,1.521801,Europe,7.20,469.000,1.27,2.7,79.56,26.0
4,Angola,26.0,AO,47.5,Unknown,117.0,244.0,Luanda,261.73,17.1,AOA,46.3,0.97,94635415870.0,113.5,9.3,Luanda,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,Africa,40.73,34.693,5.52,51.6,60.80,241.0

In [103]:
df.rename(columns={'birth_rate_iterative':'birth_rate','co2-emissions_iterative':'co2-emissions','fertility_rate_knn':'fertility_rate','infant_mortality_knn':'infant_mortality','life_expectancy_knn':'life_expectancy','maternal_mortality_ratio_knn':'maternal_mortality_ratio' },  inplace=True)

In [104]:
df

,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,calling_code,capital/major_city,cpi,cpi_change_,currency-code,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,largest_city,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent,birth_rate,co2-emissions,fertility_rate,infant_mortality,life_expectancy,maternal_mortality_ratio
0,Afghanistan,60.0,AF,58.1,652.23,323.0,93.0,Kabul,149.9,2.3,AFN,2.1,0.7,19101353833.0,104.0,9.7,Kabul,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.93911,67.709953,Asia,32.49,8.672,4.47,47.9,64.50,638.0
1,Albania,105.0,AL,43.1,28.748,9.0,355.0,Tirana,119.05,1.4,ALL,28.1,1.36,15278077447.0,107.0,55.0,Tirana,1.12,Albanian,56.9,1.2,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe,11.78,4.536,1.62,7.8,78.50,15.0
2,Algeria,18.0,DZ,17.4,Unknown,317.0,213.0,Algiers,151.36,2.0,DZD,0.8,0.28,169988236398.0,109.9,51.4,Algiers,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.7,31510100.0,28.033886,1.659626,Africa,24.28,150.006,3.02,20.1,76.70,112.0
3,Andorra,164.0,AD,40.0,468.0,Unknown,376.0,Andorra la Vella,Unknown,Unknown,EUR,34.0,1.51,3154057987.0,106.4,Unknown,Andorra la Vella,6.63,Catalan,36.4,3.33,77142.0,Unknown,Unknown,Unknown,Unknown,67873.0,42.506285,1.521801,Europe,7.20,469.000,1.27,2.7,79.56,26.0
4,Angola,26.0,AO,47.5,Unknown,117.0,244.0,Luanda,261.73,17.1,AOA,46.3,0.97,94635415870.0,113.5,9.3,Luanda,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,Africa,40.73,34.693,5.52,51.6,60.80,241.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32.0,VE,24.5,912.05,343.0,58.0,Caracas,Unknown,254.9,VED,52.7,0.0,482359318768.0,97.2,79.3,Caracas,0.01,Spanish,45.8,1.92,28515829.0,59.7,Unknown,73.3,8.8,25162368.0,6.42375,-66.58973,South America,17.88,164.175,2.27,21.4,72.10,125.0
191,Vietnam,314.0,VN,39.3,331.21,522.0,84.0,Hanoi,163.52,2.8,VND,48.1,0.8,261921244843.0,110.6,28.5,Ho Chi Minh City,0.73,Vietnamese,43.5,0.82,96462106.0,77.4,19.1,37.6,2.01,35332140.0,14.058324,108.277199,Asia,16.75,192.668,2.05,16.5,75.30,43.0
192,Yemen,56.0,YE,44.6,527.968,40.0,967.0,Sanaa,157.58,8.1,YER,1.0,0.92,26914402224.0,93.6,10.2,Sanaa,Unknown,Arabic,81.0,0.31,29161922.0,38.0,Unknown,26.6,12.91,10869523.0,15.552727,48.516388,Asia,30.45,10.609,3.79,42.9,66.10,164.0
193,Zambia,25.0,ZM,32.1,752.618,16.0,260.0,Lusaka,212.31,9.2,ZMW,65.2,1.4,23064722446.0,98.7,4.1,Lusaka,0.24,English,27.5,1.19,17861030.0,74.6,16.2,15.6,11.43,7871713.0,-13.133897,27.849332,Africa,36.19,5.141,4.63,40.4,63.50,213.0
194,Zimbabwe,38.0,ZW,41.9,390.757,51.0,263.0,Harare,105.51,0.9,Unknown,35.5,1.34,21440758800.0,109.9,10.0,Harare,Unknown,Shona,25.8,0.21,14645468.0,83.1,20.7,31.6,4.95,4717305.0,-19.015438,29.154857,Africa,30.68,10.983,3.62,33.9,61.20,458.0

In [105]:
df.to_csv('world_data_nonull.csv')

4. Informe: A√±ade al final de un jupyter una explicaci√≥n breve que describa las columnas que ten√≠an valores nulos, c√≥mo decidiste imputarlos y cualquier observaci√≥n adicional que consideres importante sobre el proceso de limpieza de datos.

Las columnas que conten√≠an datos nulos en el dataframe eran:

    'abbreviation', 'agricultural_land(_%)', 'land_area',
    'armed_forces_size', 'birth_rate', 'calling_code', 'capital/major_city',
    'co2-emissions', 'cpi', 'cpi_change_', 'currency-code',
    'fertility_rate', 'forested_area_', 'gasoline_price', 'gdp',
    'gross_primary_education_enrollment_',
    'gross_tertiary_education_enrollment_', 'infant_mortality',
    'largest_city', 'life_expectancy', 'maternal_mortality_ratio',
    'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure',
    'physicians_per_thousand', 'population',
    'population_labor_force_participation_', 'tax_revenue_',
    'total_tax_rate', 'unemployment_rate', 'urban_population', 'latitud',
    'longitud', 'continent'

Analizando el tipo de datos que contiene cada columna, decidimos:

- En las columnas categ√≥ricas los datos no son imputables, ya que se trata de nombres de ciudades, moneda, lenguaje oficial, continente...

- En las columnas num√©ricas, al tratarse de pa√≠ses cuyos datos no necesariamente est√°n relacionados con los de el resto de pa√≠ses, hemos optado por sustituir los datos nulos por 'Unknown' salvo en las columnas donde figuran los ratios de natalidad, mortalidad, fertilidad, esperanza de vida...etc que creemos que se pueden estimar tomando como referencia los datos de sus pa√≠ses vecinos.

A pesar de que creemos que los datos calculados con el algortitmo KNN a priori van a dar mejor resultado, decidimos hacer la imputaci√≥n de nulos tanto con KNN como con Imperative Imputer para poder compararlo. 
Para cada columna elegimos los datos m√°s pr√≥ximos a su columna original.